body{
    font-family: 'Times New Roman', Times, serif;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.galeria{
background-color: gainsboro;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
text-aling center;
width: 80%;
max-width: 800px
}
h1{
color: black;
}
.imagen-container img{
width: 100%;
max-width: 600px;
border-radius: 10px;
transition: opacity 0,5s ease-in-out
}
.botones{
    margin-top: 20px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: bisque;
    color: palevioletred;
    border: 10px;
    cursor: pointer;
    margin: 1 10px;
    transition: background-color 0,3s ease;
}
button:hover{
    background-color: violet;
}
p{
    margin-top: 20px;
    font-size: 16px;
    color: black;
}
span{
    font-weight: bold;
}